<div class="container">
  <div class='row'>

    <%# if current_candidate || current_employer %>
    <%# else %>
      <div class='col-sm-10 col-sm-offset-1'>
        <div class='jobs-search'>
           <div class='jobs-search-form text-center'>
          <%= form_tag search_jobs_path, method: :get, class: "navbar-form" do %>
            <p>
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Enter job title, keywords, city", size: 30 %>
              <%= submit_tag 'FIND TECH JOBS', name: nil, class: "btn btn-success" %>
            </p>
          <%# end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <div class='col-sm-9 col-xs-12 jobs-list'>
      <h1>All Tech Jobs</h1><hr>
      <% @jobs.each do |job| %>
        <div class='col-sm-12 well'>
          <div class='row'>
            <div class='col-sm-2 col-xs-4 '>
              <% if job.logo_url %>
                <%= image_tag job.logo_url %>
              <% else %>
                <%= image_tag "https://s3.amazonaws.com/inventivelabs/jobinbox/logos/jobinbox1.png" %>
              <% end %>
            </div>
            <div class='col-sm-6 col-xs-8'>
              <h4><%= job.company_name %></h4>
              <h5><%= link_to job.title, job %></h5>
              <%= truncate job.description, length: 100, separator: ' ' %><br>
              <%= link_to "View full job description", job %>
            </div>
            <div class='col-sm-2 col-xs-5'>
              <%= job.position_type %><br>
              <%= time_ago_in_words(job.created_at) %> ago
            </div>
            <div class='col-sm-2 col-xs-7'>
             <%= job.city %>, <%= job.state %> <br> <%= job.zip_code %> <%= job.country %>
            </div> 
          </div>
        </div>
      <% end %>
    </div>  

    <div class='col-sm-3 hidden-xs'><br><br>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- MasmaSpace News -->
      <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-1207389406711656"
         data-ad-slot="8952579198"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>






