<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p>Hi, <%= @job_employer.name %></p>
  <p><%= @current_candidate.name %> has submitted an application</p>
  <p><%= @email %></p>
  <p><%= @phone %></p>
  <p><%= @message %></p>
  <p><%= @resume %></p>
</body>
</html>