 <div class='pages'>
   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
     <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://s3.amazonaws.com/inventivelabs/jobinbox/imgs/tech-peep.jpg" alt="JobInbox">
      </div>
    
      <% @companies.each do |company| %>
        <div class="item">
          <%= image_tag company.avatar_url alt: company.name %>
          <div class="carousel-caption">
            <div class="main-content">
              <%= image_tag company.logo_url, alt: company.name %>
             <span> <h4><%= link_to company.name, company %></h4>
              <p><%= company.industry %></p></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    <div class="carousel-caption">
      <div class='pages-search'>
        <h1>Find the Right Job</h1>
        <div class='text-center'>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#jobs" aria-controls="jobs" role="tab" data-toggle="tab">Jobs</a></li>
            <li role="presentation"><a href="#companies" aria-controls="companies" role="tab" data-toggle="tab">Companies</a></li>
            <li role="presentation"><a href="#dev" aria-controls="dev" role="tab" data-toggle="tab">Developers</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="jobs">
              <h2>Search for the Job that's right for you</h2>
            <div class='page-search-forms'>
              <%= form_tag search_jobs_path, class: "navbar-form", method: :get do %>  
                <%= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs...", class: "form-control" %>
                <%= submit_tag 'Tech-Jobs', name: nil, class: "btn btn-success btn-lg" %>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="companies">
            <h2>Search for Companies by Name</h2>
            <div class='page-search-forms'>
              <%= form_tag search_companies_path, class: "navbar-form", method: :get do %>  
                <%= text_field_tag :search, params[:search], placeholder: "Enter Company Name", class: "form-control" %>
                <%= submit_tag 'Companies', name: nil, class: "btn btn-success btn-lg" %>
              <% end %>
            </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="dev">
            <h2>Search for Developers by name or job type</h2>
            <div class='page-search-forms'>
              <%= form_tag search_candidates_path, class: "navbar-form", method: :get do %>  
                <%= text_field_tag :search, params[:search], placeholder: "Enter Company Name", class: "form-control" %>
                <%= submit_tag 'Developers', name: nil, class: "btn btn-success btn-lg" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='pages-top'>
  <div class='jumbotron'>
    <div class="container">
      <div class="row">
        <h1 class='text-center'>Appy for the job that's right for you.</h1>
        <div class='col-sm-4'>
            <i class='fa fa-search fa-3x'></i>
            <p>Search Millions of Job Listings Search Millions of Job Listings Search Millions of Job Listings Search Millions of Job Listings</p>
        </div>

         <div class='col-sm-4'>
            <i class='fa fa-briefcase fa-3x'></i>
            <p>Search Millions of Job Listings Search Millions of Job Listings Search Millions of Job Listings Search Millions of Job Listings</p>    
        </div>

        <div class='col-sm-4'>
            <i class='fa fa-users fa-3x'></i>
          
            <p>Search Millions of Job Listings Search Millions of Job Listings Search Millions of Job Listings Search Millions of Job Listings</p>    
        </div>

      </div>
    </div>
  </div>
</div>

<div class='pages-middle-one'>
  <div class='jumbotron'>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6 col-xs-6">
          <h2>Developers</h2>
          <i class='fa fa-user fa-4x'></i><br><br>
          <button class='btn btn-default btn-lg'>Upload Resume</button>
        </div>
        <div class="col-sm-6 col-xs-6">
          <h2>Employers</h2>
          <i class='fa fa-users fa-4x'></i><br><br>
          <button class='btn btn-default btn-lg'>Post a Job</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='pages-bottom-one'>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8">
        <div class='jumbotrons'>
          <div class="row">
            <div class="hidden-lg hidden-md hidden-sm col-xs-12">
              <h3>Over <span>500,000 Companies</span> already on Job-Inbox</h3>
            </div>
          </div>
          <img src="https://s3.amazonaws.com/inventivelabs/jobinbox/imgs/companies-presence.jpg" class='img-responsive'> 
        </div>
      </div> 
      <div class="col-md-3 col-sm-4 hidden-xs">
        <h1>Over <br><span>500,000 Companies</span></h1>
        <p>already on Job-Inbox</p>
      </div> 
    </div>
  </div>
</div>

<div class='pages-middle'>
  <div class='jumbotron'>
    <div class="container">
      <div class="row">
        <h1 class='text-center'>Embraced by Developers and Designers.</h1>
        <div class='col-sm-4'>
          <p>“I’m very satisfied in my new role as a developer at a growing startup company in Austin, Texas, courtesy Job-Inbox.”
          </p>
          <p>- Hugh in Austin, TX</p>
        </div>
        
        <div class='col-sm-4'>
          <p>“Job-Inbox is easy-to-use, and an essential time-saving resource for any job seeker. I have what i need at my finger tips. This has been so great for me" </p>
          <p>- Miller from New York City, NY</p>
        </div>

        <div class='col-sm-4'>
          <p>“I love that Job-Inbox gives me an instant view of my open opportunities. It helps me see which positions are still advertised, and who I need to follow up with to keep the ball rolling. Thanks for this handy tool." </p>
          <p>- Gabby in Baltimore, MD</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='pages-bottom'>
  <div class='jumbotron'>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class='text-center'>TechJobs Nationwide</h2>
          <% if @jobs.any? %>
            <% @jobs.limit(12).in_groups_of(4) do |group| %>
              <% group.each do |job| %>
                <% if job %>
                  <div class="col-md-3 col-sm-4 col-xs-6">
                    <h3><%= link_to job.title, job %></h3>
                    <p><span><%= job.company_name %>&nbsp;|&nbsp;</span><%= job.city if job.city %>,&nbsp;<%= job.state if job.state %></p>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %> <br>
        </div> 
      </div>
    </div>
  </div>
</div>