<div class='pages'>
	<div class='jumbotron'>
    <div class="container">
		  <div class="row">
        <div class='pages-search'>
          <h1>Find the Right Job</h1>
        <div class='text-center'>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#jobs" aria-controls="jobs" role="tab" data-toggle="tab">Jobs</a></li>
            <li role="presentation"><a href="#companies" aria-controls="companies" role="tab" data-toggle="tab">Companies</a></li>
            <li role="presentation"><a href="#dev" aria-controls="dev" role="tab" data-toggle="tab">Developers</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="jobs">
              <h2>Search for the Job that's right for you</h2>
              <div class='page-search-forms'>
                <%= form_tag search_jobs_path, class: "navbar-form", method: :get do %>  
                  <%= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs...", class: "form-control" %>
                  <%= submit_tag 'Tech-Jobs', name: nil, class: "btn btn-success btn-lg" %>
                <% end %>
               </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="companies">
              <h2>Search for Companies by Name</h2>
              <div class='page-search-forms'>
                <%= form_tag search_companies_path, class: "navbar-form", method: :get do %>  
                  <%= text_field_tag :search, params[:search], placeholder: "Enter Company Name", class: "form-control" %>
                  <%= submit_tag 'Companies', name: nil, class: "btn btn-success btn-lg" %>
                <% end %>
              </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="dev">
              <h2>Search for Developers by name or job type</h2>
              <div class='page-search-forms'>
                <%= form_tag search_candidates_path, class: "navbar-form", method: :get do %>  
                  <%= text_field_tag :search, params[:search], placeholder: "Enter Company Name", class: "form-control" %>
                  <%= submit_tag 'Developers', name: nil, class: "btn btn-success btn-lg" %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>

  			
      </div>     
		</div>
	</div>
</div>

<div class='pages-top'>
  <div class='jumbotron'>
    <div class="container">
      <div class="row">
        <h1 class='text-center'>Appy for the job that's right for you.</h1>
        <div class='col-sm-4'>
          <div class='text-center'><i class='fa fa-search fa-4x'></i>
          <h2>Search Millions of Job Listings</h2>
          </div>
        </div>
        
        <div class='col-sm-4'>
          <div class='text-center'><i class='fa fa-briefcase fa-4x'></i>
          <h2>Know about companies and their culture</h2>
          </div>
        </div>

        <div class='col-sm-4'>
          <div class='text-center'><i class='fa fa-users fa-4x'></i>
          <h2>Reads Reviews and Interviews</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='pages-middle'>
  <div class='jumbotron'>
    <div class="container">
      <div class="row">
        <h1 class='text-center'>Embraced by Developers and Designers.</h1>
        <div class='col-sm-4'>
          <p>“I’m very satisfied in my new role as a developer at a growing startup company in Austin, Texas, courtesy Job-Inbox.”
          </p>
          <p>- Hugh in Austin, TX</p>
        </div>
        
        <div class='col-sm-4'>
          <p>“Job-Inbox is easy-to-use, and an essential time-saving resource for any job seeker. I have what i need at my finger tips. This has been so great for me" </p>
          <p>- Miller from New York City, NY</p>
        </div>

        <div class='col-sm-4'>
          <p>“I love that Job-Inbox gives me an instant view of my open opportunities. It helps me see which positions are still advertised, and who I need to follow up with to keep the ball rolling. Thanks for this handy tool." </p>
          <p>- Gabby in Baltimore, MD</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='pages-bottom'>
  <div class='jumbotron'>
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</div>

<!-- <div class='pages-search'>
        <h2>Search for your dream Job</h2>
        <div class='page-search-forms'>
          <%#= form_tag search_jobs_path, class: "navbar-form", method: :get do %>  
             <%#= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs...", class: "form-control" %>
              <%#= submit_tag 'Search', name: nil, class: "btn btn-success btn-lg" %>
          <%# end %>
        </div>
      </div>   -->   
