<div class='container'>
	<div class='row'>
		<div class='col-md-3 col-sm-4 col-xs-12'>
		<br>
			<p><%= profile_image_for@candidate, class: "img-responsive" %></p>
			<%#= @candidate.image_url %>
			<%#= @candidate.headline %>
			<%#= @candidate.linkedin_url %>

			
			<div class="list-group">
			  <a href="#" class="list-group-item active">
			    Cras justo odio
			  </a>
			  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
			  <a href="#" class="list-group-item">Morbi leo risus</a>
			  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
			  <a href="#" class="list-group-item">Vestibulum at eros</a>
			</div>

		</div>
		<div class='col-md-6 col-sm-5 col-xs-12'>
			<h2><%= @candidate.name %></h2>
			<h4><%= @candidate.email_address %></h4>
			<h4>Based in <%#= @candidate.city %></h4>
		</div>
		<div class='col-md-3 col-sm-3 col-xs-12'></div>
	</div>
 	<% if current_candidate?(@candidate) %>
	<%= link_to "Edit", edit_candidate_path(@candidate) %> | 
	<% end %>
	<% if current_candidate_admin? %>
	<%= link_to 'Delete Account', candidate_path(@candidate), method: :delete, data: {confirm: "Are You Sure?"} %>
	<% end %>
</div>

