<div class='container'>
  <div class='row company-content'>
    <div class='col-sm-9'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='company-imgbg'>
            <%= image_tag @company.avatar_url, class: "img-responsive" if @company.avatar_url %>
          </div>
        </div>
        <div class='col-sm-12 company-main'>
          <div class='row well'>
            <div class='col-sm-4 hidden-xs company_logo text-center'>
              <%= image_tag @company.logo_url if @company.logo_url %>
            </div>
            <div class='col-sm-8 col-xs-12'>
              <div class='row'>
                <div class='col-sm-8'>
                  <h2><%= @company.name %></h2>
                  <%= link_to " #{@company.website}", @company.website, :target => "_blank", class: "fa fa-link " %><br>
                </div>
                <div class='col-sm-4'><br>
                  <% if current_employer || current_candidate %>
                    <span class=" btn btn-success fa fa-plus"><%= link_to "  Add Review", company_addreview_path(@company) %></span>&nbsp;&nbsp;
                  <% else %>
                    <%= link_to 'Signin to Add-Review', signin_path, class: 'btn btn-success' %>
                  <% end %>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='company-reviewinterview'>
                    <div class='review-star'>
                      <% if @reviews.blank? %>
                      <% else %>
                        <div class="star-rating" data-score= <%= @avg_rating %> ></div>
                      <% end %>
                    </div>
                    <div class='review-rating text-center'>
                      <%= "#{@reviews.length} " %><br>Reviews
                    </div>
                    <div class='interview-rating text-center'>
                      <%= "#{@interviews.length} " %><br>Interviews
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>


        <div class='col-sm-12'>
          <div class='row'>
            <div class='col-sm-4 col-xs-12'>
              <div class='company-tab'>

                <div class="list-group">
          
                  <%= link_to "#{@company.name}", @company, class: "list-group-item active"   %>
                  <%= link_to "About #{@company.name}", company_about_path(@company), class: "list-group-item"   %>
                  <%= link_to "#{@company.name} Jobs", company_job_path(@company), class: "list-group-item" %>
                  <%= link_to "Reviews", company_review_path(@company), class: "list-group-item"  %>
                  <%= link_to "Interviews", company_interview_path(@company), class: "list-group-item"  %>
                   <% if current_employer || current_candidate %>
                    <%= link_to "Write a Reviews", company_addreview_path(@company), class: "list-group-item"  %>
                    <%= link_to "Add-Interviews", company_addinterview_path(@company), class: "list-group-item"  %>
                    <% end %>    
                  </div>     
                </div>
              </div>
            <div class='col-sm-8 company-content-tab'>
          <div class="tab-content">

          
          <% @jobs.each do |job| %>
            <% if job.company_name == @company.name %>
              <div class='row'>
                <div class='col-sm-12'>
                  <h2><%= link_to job.title, job %></h2>
                   <p><%= truncate job.description, length: 200, separator: ' ' %></p>
                   <%= link_to "View full job description", job %>
                </div>
              </div>
            <% end %>
          <% end %>
         
              <%= will_paginate @jobs, renderer: BootstrapPagination::Rails, class: 'text-center' %> 
           
          </div>   
        </div>
      </div>
    </div>
    </div>
   </div>

    <div class='col-sm-3 hidden-xs'> 
      <div class='row company-side'>
        <% if @company.facebook || @company.twitter || @company.youtube || @company.linkedin %>
          <div class='col-sm-12 well'>
            <h2 class='text-center'>Connect with <%= @company.name %></h2>
            <div class='social-link facebook'>
              <%= link_to "", @company.facebook, :target => "_blank", class: "fa fa-facebook fa-2x" %>
            </div>
            <div class='social-link twitter'>
              <%= link_to "", @company.twitter, :target => "_blank", class: "fa fa-twitter fa-2x" %>
            </div>
            <div class='social-link youtube'>
              <%= link_to "", @company.youtube, :target => "_blank", class: "fa fa-youtube fa-2x" %>
            </div>
            <div class='social-link linkedin'>
              <%= link_to "", @company.linkedin, :target => "_blank", class: "fa fa-linkedin fa-2x" %>
            </div>
            
          </div>
        <% end %>  
      </div>
      
      <% if @reviews.blank? %>
      <% else %>
        <h3><%= @company.name %> Reviews</h3><hr>
          <div class="star-rating" data-score= <%= @avg_rating %> ></div>
            <p><%= "#{@reviews.length} reviews" %></p>
      <% end %>

    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/foodplace/uploads/stars',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
  $('.write-review').on('click', function(){
    $('.review-form').toggle("slow");
    });
    
</script>


