<div class='companies'>
  <div class='jumbotron'>
    <h1>Search for company</h1>
    <div class='page-search-form'>
        <%= form_tag search_companies_path, class: "navbar-form", method: :get do %>  
           <%= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs...", class: "form-control" %>
            <%= submit_tag 'Search', name: nil, class: "btn btn-warning btn-lg" %>
        <% end %>
      </div>     
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-sm-9'>
      <% @companies.each do |company| %>
        
            <div class='row'>
              <div class='col-sm-4 col-xs-5'>
                <%= image_tag company.logo_url if company.logo_url %>
              </div>
              <div class='col-sm-8 col-xs-7'>
                <h2><%= link_to company.name, company %></h2>
                <p><%= truncate(company.about, lenght: 500, seperate: "") %></p>
              </div>
            </div>
          <!-- </div>
        </div> -->
      <% end %>
      <%= will_paginate @companies, renderer: BootstrapPagination::Rails %>
    </div>
    <div class='col-sm-3 hidden-xs'></div>
  </div>
</div>
<div class='companies-middle'>
  <div class='jumbotron'>
  </div>
</div>