<div class='companies'>
  <div class='jumbotron'>
    <h1>Search for company</h1>
    <div class='page-search-form'>
        <%= form_tag search_companies_path, class: "navbar-form", method: :get do %>  
           <%= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs...", class: "form-control" %>
            <%= submit_tag 'Search', name: nil, class: "btn btn-warning btn-lg" %>
        <% end %>
      </div>     
  </div>
</div>
<div class='companies-middle'>
  <div class='jumbotron'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-2 hidden-xs'></div>
        <div class='col-sm-8'>
          <% @companies.each do |company| %>
            
                <div class='row'>
                  <div class='col-sm-1 col-xs-2'><br>
                    <%= image_tag company.logo_url if company.logo_url %>
                  </div>
                  <div class='col-sm-11 col-xs-10'>
                    <h2><%= link_to company.name, company %></h2>
                    <p><%= truncate(company.about, lenght: 1000, seperate: "") %></p>
                  </div>
                </div>
              <!-- </div>
            </div> -->
          <% end %>
          <div class='text-center'>
            <%= will_paginate @companies, renderer: BootstrapPagination::Rails %>
          </div>
        </div>
        <div class='col-sm-2 hidden-xs'></div>
      </div>
    </div>
  </div>
</div>
