<div class='companies'>
  <div class='jumbotron'>
    <div class='companies-h1'>
      <h1>Search for company</h1>
    </div>
    <div class='page-search-form'>
        <%= form_tag search_companies_path, class: "navbar-form", method: :get do %>  
           <%= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs...", class: "form-control" %>
            <%= submit_tag 'Search', name: nil, class: "btn btn-warning btn-lg" %>
        <% end %>
      </div>     
  </div>
</div>
<div class='companies-middle'>
  <div class='jumbotron'>
    <div class='container'>
      <div class='row search'>
        <div class='col-sm-12'>
          <% @companies.each do |company| %>
            
                <div class='row'>
                  <div class='col-sm-4 col-xs-12'><br>
                    <%= image_tag company.avatar_url if company.avatar_url %>
                  </div>
                  <div class='col-sm-8 col-xs-12'>
                    <h2><%= link_to company.name, company %></h2>
                    <h4><%= "Founded: #{company.founded}" %></h4>
                    <h4><%= "Located: #{company.location}" %></h4>
                    <p><%= truncate(company.about, length: 500, seperate: "") %></p>
                  </div>
                </div>
              <!-- </div>
            </div> -->
          <% end %>
          <div class='text-center'>
            <%= will_paginate @companies, renderer: BootstrapPagination::Rails %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
