<footer>
  <div class='footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-2'></div>
        <div class='col-sm-2'>
          <h2>Support</h2>
          <span>
            600, Congress Avenue, <br>
            Austin, TX 78701
          </span><br><br>
          <a href="mailto:info@job-inbox.com">info@job-inbox.com</a>
          <p>1 512-999-0018</p>
        </div>
        <div class='col-sm-2 col-xs-6'>
          <h2>About</h2>
          <p><%= link_to "Home", root_path %></p>
          <p><%= link_to "About Us", about_path %></p>
          <p><%= link_to "Privacy", privacy_path %></p>
          <p><%= link_to "Terms", terms_path %></p>
          <p><%= link_to "Contact Us", terms_path %></p>
        </div>
        <div class='col-sm-2 col-xs-6'>
          <h2>Discover</h2>
          <p><%= link_to "Jobs", about_path %></p>
          <p><%= link_to "Post a Job", privacy_path %></p>
          <p><%= link_to "Companies", companies_path %></p>
          <p><%= link_to "Developers", terms_path %></p>
          <p><%= link_to "Employers", terms_path %></p>
        </div>
        <div class='col-sm-3 hidden-xs'>
          <h2>Tech News & Tips</h2>
          <% Insight.all.order("created_at DESC").limit(2).each do |insight| %>
            <%= link_to insight.title, insight %><br>
            <span class='text-right'><%= time_ago_in_words(insight.created_at) %> ago</span>
           <br><br>
          <% end %> 
        </div>
        <div class='col-sm-1'></div>
      </div>
    </div>
  </div>
  
  <div class='bottom'>
    <div class='container'>
    <div class='row'>
      <div class='col-sm-4'>
        <div class='social-link facebook'>
          <a href="https://www.facebook.com/JobInbox" target="_blank"><i class="fa fa-facebook fa-2x"></i></a> 
        </div>
        <div class='social-link twitter'>
          <a href="https://twitter.com/inventivelabsco" target="_blank"><i class="fa fa-twitter fa-2x"></i></a> 
        </div>
        <div class='social-link linkedin'>
          <a href="https://www.linkedin.com/company/inventtive/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a> 
        </div>
      </div>
      <div class='col-sm-6'>
        <p>Copyright &copy; 2015 Job-Inbox. All right reserved</p>
        <p>Made with <i class='fa fa-heart'></i> at <a href='http://inventivelabs.co' target='_blank'>Inventive Labs, LLC</a></p>
      </div>
      <div class='col-sm-2'>
          <% if current_candidate %>
            <%= link_to (image_tag "https://s3.amazonaws.com/inventivelabs/jobinbox/logos/jblogo4.png"), current_candidate %>
            
          <% elsif @current_employer %>
            <%= link_to (image_tag "https://s3.amazonaws.com/inventivelabs/jobinbox/logos/jblogo4.png"), current_employer %>
          <% else %>
            <%= link_to (image_tag "https://s3.amazonaws.com/inventivelabs/jobinbox/logos/jblogo4.png"), root_path %>
          <% end %>
        </div>
      
    </div>
  </div>
</footer>